.container {
    display: flex;
    flex-direction: row
    
}

.item {
        background-color: lightblue;
        padding: 100px;
        margin: 50px;
}

.fotos {
    width: 100px;
    height: 200px;
}

.coresPalavras{
    text-decoration: underline;
    text-decoration-color: yellow;
    text-decoration-thickness:

}