#box {
    display: flex;
    gap: 20px;
    max-width: 1255px;
    margin: 10px;
    flex-wrap: wrap-reverse;
}

#b {
    background-color: #D8E3F2;
    color: black;
    display: inline;
    width: 405px;
    height: 251px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
}

#c {
    background-color: #D8E3F2;
    color: black;
    display: inline;
    width: 405px;
    height: 251px;
    overflow: hidden;

}

#d {
    background-color: #D8E3F2;
    color: black;
    display: inline;
    width: 405px;
    height: 251px;
    overflow: hidden;
}

#img {
    width: 355.68px;
    scale: 1.1;
    position: absolute;
    left: 185px;
    top: 60px;
    transform: rotate(-20deg);
    z-index: 1;
}

#img2 {
    width: 263.21px;
    height: 196.73px;
    top: 1005px;
    left: 954.35px;
    gap: 0px;
    opacity: 0px;
}


#img3 {
    width: 222px;
    height: 262px;
    top: 956px;
    left: 1244px;
    gap: 0px;
    opacity: 0px;
}


#text {
    padding: 30px 25px;
    ;
    position: relative;
    z-index: 2;
}

#button {
    padding: 13px 40px;
    border-radius: 7px;
    color: #C92071;
    ;
}

#tag {
    background-color: yellow;
    padding: 5px 10px;
    border-radius: 250px;
}

h2 {
    font-size: 32px;
}