#box{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1255px;
    margin: auto;
}
#b{
    background-color:green;
    color: white;
    display: inline;
    width: 405px;
    height: 251px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
}
#c{
    background-color: blue;
    color: white;
    display: inline;
    width: 405px;
    height: 251px;
    overflow: hidden;
}
#d{
    background-color: purple;
    color: white;
    display: inline;
    width: 405px;
    height: 251px;
    overflow: hidden;  
}
#img{
    width: 355.68px;
    scale: 1.1;
    position: absolute;
    left: 185px;
    top: 60px;
    transform: rotate(-20deg);
    z-index: 1;
}
#text{
    padding: 30px 25px;;
    position: relative;
    z-index: 2;
}
#button{
    padding: 13px 40px;
    border-radius: 7px;
    color: red;
}
#tag{
    background-color: rgb(252, 235, 4);
    padding: 5px 10px;
    border-radius: 250px;
}
h2{
    font-size: 32px;
}